$color-white: whitesmoke;
$color-purple: #5a4a60;
$color-blue: #4a7aba;
$color-light-gray: #d3d3d3;
$color-dark-gray: #627396;
$color-yellow: #feb400;
$color-black: #000000;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-Poppins: 'Poppins', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$phone: 415px;
$tablet: 600px;
$desktopSmall: 1000px;
$desktopLarge: 1300px;


* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#page1 {
  background: url('https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 70%;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  
}

#welcome-section {
  color: whitesmoke;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: $font-family-raleway;
  White-space: nowrap;
  @media screen and (max-width: $tablet){
font-size: 30px;
  }
  @media screen and (max-width: $phone){
font-size: 25px;
  }
}
#sub-heading {
  color: $color-yellow;
  font-family: $font-family-Poppins;
  font-size: 26px;
  font-weight: 200;
  font-style: italic;
  @media screen and (max-width: $tablet){
font-size: 20px;
  }
  @media screen and (max-width: $phone){
font-size: 15px;
  }
}

#nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $color-black;
  @media screen and (max-width: $tablet){
justify-content: center;
  }
  @media screen and (max-width: $phone){
justify-content: center;
  }
}

.navPoint {
  padding: 15px;
  font-size: 24px;
  text-decoration: none;
  &:link {
    color: whitesmoke;
  }
  &:visited {
    color: whitesmoke;
  }
  &:hover {
    color: $color-black;
    background-color: $color-yellow;
  }
  @media (max-width: $tablet){
font-size: 15px;
justify-content: center;
  }
  @media (max-width: $phone){
font-size: 15px;
justify-content: center;
  }
}

#page2 {
background-color: $color-light-gray;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  background-position: center center;
  @media screen and (max-width: $tablet){
    height: 1200px;
  }
  @media screen and (max-width: $phone){
background-size: 800px;
background-position:left;
  }
}

#page2title {
  color: $color-black;
  font-family: $font-family-Poppins;
  text-align: center;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 800px; /*adjusts space between left and right of projects*/
}
.column {
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.projectcontainer {
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 90px;
  background-color:  $color-black;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.shrink img {
transition: 1s ease;
}

.shrink img:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
transition: 1s ease;
}

#projectimage {
  width: 250px;
  height: 150px;
  border-radius: 20px;
  /*box-shadow: 3px 3px 1px $color-light-gray;*/
  border: 2px ridge black;
  @media screen and (max-width: $tablet){
width: 200px;
height: 115px;
  }
  @media screen and (max-width: $phone){
width: 175px;
height: 100px;
  }
}

.btncontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.btns {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  font-family:$font-family-raleway;

}

#demo {
  border: 2px solid $color-white;
  &:link {
    color: $color-white;
  }
  &:visited {
    color: $color-white;
  }
  &:hover {
    color: $color-black;
    background-color: $color-white;
  }
}
#code {
  border: 2px solid $color-yellow;
  &:link {
    color: $color-yellow;
  }
  &:visited {
    color: $color-yellow;
  }
  &:hover {
    color: $color-white;
    background-color: $color-yellow;
  }
}

#page3 {
  padding-top: 70px;
  background: url('https://images.unsplash.com/photo-1603297638322-c7a08d52966c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
background-size: cover;
 width: 100%;
  height: 100%;
  background-position: center center;
  @media screen and (max-width: $tablet){
background-size: 800px;
background-position:left;
  }
  @media screen and (max-width: $phone){
background-size: 800px;
background-position:left;
  }
}


#page3title {
  color: $color-white;
  font-family: $font-family-Poppins;
  text-align: center;
  margin-bottom: 30px;
  
}

#contactContainer {
  height: 500px;
  width: 400px;
  background-color: $color-light-gray;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  box-shadow: 7px 7px 5px black;
  @media screen and (max-width: $tablet){
width: 300px;
height: 515px;
  }
  @media screen and (max-width: $phone){
width: 300px;
height: 550px;
  }
}

#headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 15px;
}

.page3text {
  margin: 5px;
}
#logoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
#logos {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

#secondButtonContainer {
  margin-top: 10px;
display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#resume {
  border: 2px solid $color-black;
  &:link {
    color: $color-black;
  }
  &:visited {
    color: $color-black;
  }
  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}

#vlog {
  border: 2px solid $color-black;
  &:link {
    color: $color-black;
  }
  &:visited {
    color: $color-black;
  }
  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}

#builtByContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  @media screen and (max-width: $tablet){
    margin-top: 30px;
      }
      @media screen and (max-width: $phone){
        margin-top: 30px;
      }
    }

#builtBy{
  color: $color-white;
  font-family:  $font-family-raleway;
  font-size: 18px;
  @media screen and (max-width: $tablet){
    font-size: 12px;
      }
      @media screen and (max-width: $phone){
        font-size: 12px;
      }
    }
#jmartLogo{
  height: 80px;
  width: 80px;
  @media screen and (max-width: $tablet){
    height: 60px;
    width: 60px
      }
      @media screen and (max-width: $phone){
        height: 60px;
        width: 60px;
      }
    }

$color-white: whitesmoke;
$color-purple: #5a4a60;
$color-blue: #4a7aba;
$color-light-gray: #d3d3d3;
$color-dark-gray: #627396;
$color-yellow: #feb400;
$color-black: #000000;
