* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#page1 {
  background: url("https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-position: 50% 70%;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}

@media only screen and (orientation: landscape) and (max-width: 844px) and (max-width: 844px) {
  #page1 {
    width: 100%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  width: 500px;
  height: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.box .title .block {
  width: 0%;
  height: inherit;
  background: #feb400;
  position: absolute;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .title h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  -webkit-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .box .title h1 {
    font-size: 24px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 415px) {
  .box .title h1 {
    font-size: 24px;
    margin-left: 40px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) and (max-width: 844px) {
  .box .title h1 {
    font-size: 30px;
    margin-left: 40px;
  }
}

.sub-heading {
  width: 354.08px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-heading .block {
  width: 0%;
  height: inherit;
  background: whitesmoke;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-heading p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
  color: #feb400;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 200;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .sub-heading p {
    font-size: 14px;
  }
}

@media screen and (max-width: 415px) {
  .sub-heading p {
    font-size: 14px;
  }
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #000000;
}

@media screen and (max-width: 600px) {
  #nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 415px) {
  #nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) and (max-width: 844px) {
  #nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#navbar-brand {
  font-family: "Raleway", sans-serif;
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
}

#navbar-brand:link {
  color: whitesmoke;
}

#navbar-brand:visited {
  color: whitesmoke;
}

#navbar-brand:hover {
  color: #000000;
  background-color: #feb400;
}

@media (max-width: 600px) {
  #navbar-brand {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 415px) {
  #navbar-brand {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) and (max-width: 844px) {
  #navbar-brand {
    margin-top: -5px;
  }
}

#nav-dropdown {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navPoint {
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  padding: 15px;
  font-size: 24px;
  text-decoration: none;
}

.navPoint:link {
  color: whitesmoke;
}

.navPoint:visited {
  color: whitesmoke;
}

.navPoint:hover {
  color: #000000;
  background-color: #feb400;
}

@media (max-width: 600px) {
  .navPoint {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 415px) {
  .navPoint {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shortAbout {
  display: none;
}

@media (max-width: 600px) {
  .shortAbout {
    display: block;
  }
}

@media (max-width: 415px) {
  .shortAbout {
    display: block;
  }
}

@media (max-width: 600px) {
  .longAbout {
    display: none;
  }
}

@media (max-width: 415px) {
  .longAbout {
    display: none;
  }
}

#jMart {
  margin-left: -500px;
}

@media (max-width: 600px) {
  #jMart {
    font-size: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 415px) {
  #jMart {
    font-size: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#page2 {
  background-color: #ebebeb;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background-position: center center;
}

@media screen and (max-width: 600px) {
  #page2 {
    height: 1500px;
  }
}

@media screen and (max-width: 415px) {
  #page2 {
    height: 1500px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #page2 {
    height: 850px;
  }
}

#page2title {
  color: #242526;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

#pg2Line {
  width: 80px;
  background-color: #feb400;
  height: 2px;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  border: none;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.allprojectscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  .allprojectscontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 415px) {
  .allprojectscontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  .allprojectscontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
}

.projectcontainer {
  height: 330px;
  width: 280px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 90px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 20px #919191;
          box-shadow: 0px 0px 20px #919191;
}

@media screen and (max-width: 600px) {
  .projectcontainer {
    height: 250px;
    width: 180px;
  }
}

@media screen and (max-width: 415px) {
  .projectcontainer {
    height: 250px;
    width: 180px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  .projectcontainer {
    height: 260px;
    width: 250px;
    margin-left: 12px;
  }
}

.projectcontainer .projTitles {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #242526;
}

@media screen and (max-width: 600px) {
  .projectcontainer .projTitles {
    font-size: 10px;
  }
}

@media screen and (max-width: 415px) {
  .projectcontainer .projTitles {
    font-size: 10px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  .projectcontainer .projTitles {
    font-size: 10px;
  }
}

.projectcontainer .projectlines {
  margin-top: 5px;
  background-color: #d1cfcf;
  height: 1px;
  border: none;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.imgcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  margin-top: 10px;
}

.shrink img {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.shrink img:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#projectimage {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  #projectimage {
    width: 160px;
    height: 100px;
    margin-top: -3px;
  }
}

@media screen and (max-width: 415px) {
  #projectimage {
    width: 160px;
    height: 100px;
    margin-top: -3px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #projectimage {
    width: 160px;
    height: 100px;
  }
}

.projSkills {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .projSkills {
    font-size: 7px;
  }
}

@media screen and (max-width: 415px) {
  .projSkills {
    font-size: 7px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  .projSkills {
    font-size: 8px;
  }
}

.projAbout {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
  margin-left: 18px;
}

@media screen and (max-width: 600px) {
  .projAbout {
    font-size: 10px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 415px) {
  .projAbout {
    font-size: 10px;
    margin-top: 5px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  .projAbout {
    font-size: 12px;
  }
}

#marsAbout {
  font-size: 11px;
  margin: 6px;
}

@media screen and (max-width: 600px) {
  #marsAbout {
    font-size: 7.5px;
    margin: 2px;
  }
}

@media screen and (max-width: 415px) {
  #marsAbout {
    font-size: 7.5px;
    margin: 2px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #marsAbout {
    font-size: 8px;
  }
}

.verticalLine {
  border-right: 1px solid #242526;
}

.btncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .btncontainer {
    font-size: 8px;
  }
}

@media screen and (max-width: 415px) {
  .btncontainer {
    font-size: 8px;
  }
}

.btns {
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  font-size: 14px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 600px) {
  .btns {
    font-size: 10px;
    height: 10px;
    width: 50px;
    margin: 2px;
  }
}

@media screen and (max-width: 415px) {
  .btns {
    font-size: 10px;
    height: 10px;
    width: 50px;
  }
}

#demo {
  border: 2px solid #242526;
}

#demo:link {
  color: #242526;
}

#demo:visited {
  color: #242526;
}

#demo:hover {
  color: whitesmoke;
  background-color: #242526;
  border: 2px solid #8f8f8f;
}

#code {
  border: 2px solid #242526;
  background-color: #242526;
}

#code:link {
  color: whitesmoke;
}

#code:visited {
  color: whitesmoke;
}

#code:hover {
  color: #242526;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
}

#page3 {
  padding-top: 70px;
  height: 100vh;
  background-position: center center;
}

@media screen and (max-width: 600px) {
  #page3 {
    height: 1200px;
  }
}

@media screen and (max-width: 415px) {
  #page3 {
    background-size: 800px;
    background-position: left;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #page3 {
    height: 700px;
  }
}

#page3title {
  text-align: center;
  color: #242526;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  font-size: 40px;
}

#pg3Line {
  width: 50px;
  background-color: #feb400;
  height: 2px;
  -webkit-box-shadow: 1px 1px 1px #242526;
          box-shadow: 1px 1px 1px #242526;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#page3Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  #page3Container {
    margin-top: -30px;
  }
}

@media screen and (max-width: 415px) {
  #page3Container {
    margin-top: -30px;
  }
}

#container1 {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  #container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 415px) {
  #container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  #container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 225px;
  }
}

@media screen and (max-width: 415px) {
  #container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 225px;
  }
}

.skillContainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  width: 140px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  text-align: center;
}

.skillContainers:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #242526;
}

@media screen and (max-width: 600px) {
  .skillContainers {
    height: 250px;
  }
}

@media screen and (max-width: 415px) {
  .skillContainers {
    height: 250px;
  }
}

#react {
  height: 200px;
  width: 230px;
}

#redux {
  height: 125px;
  width: 125px;
  margin-top: 10px;
}

#HTML5 {
  height: 120px;
  width: 125px;
  margin-top: 10px;
}

#CSS {
  height: 130px;
  width: 130px;
  margin-top: 10px;
}

#Sass {
  height: 120px;
  width: 120px;
  margin-top: 10px;
}

#TypeScript {
  height: 120px;
  width: 120px;
  margin-top: 10px;
}

#JavaScript {
  height: 120px;
  width: 120px;
  margin-top: 10px;
}

#Recoil {
  height: 130px;
  width: 50px;
  margin-top: 10px;
}

#reactTitle {
  margin-top: -20px;
}

#reduxTitle {
  margin-top: 10px;
}

#html5Title {
  margin-top: 10px;
}

#cssTitle {
  margin-top: 10px;
}

#sassTitle {
  margin-top: 10px;
}

#typescriptTitle {
  margin-top: 10px;
}

#javascriptTitle {
  margin-top: 10px;
}

#recoilTitle {
  margin-top: 10px;
}

#page4 {
  width: 100%;
  height: 100vh;
  background-color: #d1cfcf;
  padding-top: 70px;
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #page4 {
    height: 700px;
  }
}

#page4title {
  color: #242526;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

#pg4Line {
  width: 80px;
  background-color: #feb400;
  height: 2px;
  -webkit-box-shadow: 1px 1px 1px #242526;
          box-shadow: 1px 1px 1px #242526;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  #aboutContainer {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  #aboutContainer {
    width: 100%;
  }
}

#aboutText {
  font-family: "Poppins", sans-serif;
  text-align: left;
  width: 800px;
  margin-left: 20px;
  text-align: justify;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  #aboutText {
    font-size: 13px;
    width: 350px;
    margin: 0;
  }
}

@media screen and (max-width: 415px) {
  #aboutText {
    font-size: 13px;
    width: 350px;
    margin: 0;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #aboutText {
    font-size: 13px;
    width: 350px;
  }
}

.aboutLinks {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.aboutLinks:link {
  color: #feb400;
  text-shadow: 1px 1px #242526;
}

.aboutLinks:visited {
  color: #feb400;
  text-shadow: 1px 1px #242526;
}

.aboutLinks:hover {
  color: whitesmoke;
  text-decoration: underline;
}

#aboutPic {
  width: 320px;
  height: 500px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #242526;
          box-shadow: 0px 0px 10px #242526;
}

@media screen and (max-width: 600px) {
  #aboutPic {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  #aboutPic {
    width: 100px;
    height: 100px;
    display: none;
  }
}

#page5 {
  padding-top: 70px;
  background: url("https://images.unsplash.com/photo-1603297638322-c7a08d52966c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}

@media screen and (max-width: 600px) {
  #page5 {
    background-position: left;
  }
}

@media screen and (max-width: 415px) {
  #page5 {
    background-position: left;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #page5 {
    height: 700px;
    background-position: left;
  }
}

#page5title {
  color: #d1cfcf;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

#pg5Line {
  width: 80px;
  background-color: #feb400;
  height: 2px;
  -webkit-box-shadow: 1px 1px 1px #242526;
          box-shadow: 1px 1px 1px #242526;
  border: none;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#contactContainer {
  height: 500px;
  width: 400px;
  background-color: #d1cfcf;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px #242526;
          box-shadow: 0px 0px 30px #242526;
}

@media screen and (max-width: 600px) {
  #contactContainer {
    width: 300px;
    height: 515px;
  }
}

@media screen and (max-width: 415px) {
  #contactContainer {
    width: 300px;
    height: 550px;
  }
}

#headshot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 5px #242526;
          box-shadow: 0px 0px 5px #242526;
}

.page5text {
  margin: 5px;
  color: #242526;
}

#logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#logos {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

#secondButtonContainer {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactBtns {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#resume {
  border: 2px solid #242526;
}

#resume:link {
  color: #242526;
}

#resume:visited {
  color: #242526;
}

#resume:hover {
  color: whitesmoke;
  background-color: #242526;
}

#vlog {
  border: 2px solid #242526;
}

#vlog:link {
  color: #242526;
}

#vlog:visited {
  color: #242526;
}

#vlog:hover {
  color: whitesmoke;
  background-color: #242526;
}

#builtByContainer {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d1cfcf;
}

#builtBy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242526;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  #builtBy {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  #builtBy {
    font-size: 12px;
  }
}

#jmartLogo {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 600px) {
  #jmartLogo {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 415px) {
  #jmartLogo {
    height: 60px;
    width: 60px;
  }
}

#copyright {
  color: #242526;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  #copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  #copyright {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */